#posts {
    .posts__list {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        padding-left: 0;

        .posts__item {
            list-style-type: none;
        }
    }
}